<div>
    @Html.ActionLink("返回","Weather")
    <h3>智能未来五天天气预报</h3>
    <iframe src="http://i.tianqi.com/index.php?c=code&id=19" allowtransparency="true" frameborder="0" width="700" height="100" scrolling="no"></iframe>
    <h3>2345天气插件</h3>
    <iframe allowtransparency="true" frameborder="0" width="385" height="96" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=1&z=1&t=0&v=0&d=3&bd=0&k=&f=&q=1&e=1&a=1&c=54511&w=385&h=96&align=center"></iframe>
</div>