@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a class="btn btn-primary" >
    Link with href阿道夫
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target大大地
</button>
<div class="collapse" id="collapseExample">
    <div class="well">
       12333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333
    </div>
</div>