@{
    ViewBag.Title = "Carousel1";
}

<h2>Carousel2</h2>
<div class="lb">
    <div class="lb_img">
        <img src="~/Images/1.jpg" />
        <img src="~/Images/2.jpg" />
        <img src="~/Images/3.jpg" />
        <img src="~/Images/4.jpg" />
    </div>
    <ul class="lb_an">
        <li ></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="lb_left">&lt;</div>
    <div class="lb_right">&gt;</div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<style type="text/css">
    html,body{
        width:100%;
        height:100%;/*有的浏览器body高度默认是0*/
    }
    .lb{
        width:750px;
        height:350px;
        left:50%;
        margin-left:-375px;
        top:50%;
        margin-top:-175px;
        position:absolute;
        overflow:hidden;
    }
    .lb_img img{
        position:absolute;
        display:none;
        width:100%;
        height:100%;
    }
    .lb_img img:first-child{
        display:block;
    }
    .lb_an{
        position:absolute;
        width:100%;
        left:50%;
        margin-left:-175px;
        bottom:40px;
        list-style:none;
    }
    .lb_an li{
        width:10px;
        height:10px;
        background-color:black;
        border-radius: 100%;
        margin-left:30px;
        float:left;
        cursor:pointer;
    }
    .lb_an li:first-child {
         background-color:blue;
    }
    .lb_left{
        position:absolute;
        width:30px;
        height:40px;
        line-height:40px;
        text-align:center;
        left:10%;
        bottom:130px;
        color:black;
        font-size:16px;
        font-weight:bolder;
        background-color:white;
        cursor:pointer;
    }
    .lb_right{
        position:absolute;
        width:30px;
        height:40px;
        line-height:40px;
        text-align:center;
        right:10%;
        bottom:130px;
        color:black;
        font-size:16px;
        font-weight:bolder;
        background-color:white;
        cursor:pointer;
    }
    
</style>

<script type="text/javascript" >
    
    $(function () {
        index = 0;
        play = setInterval(function () { 
            index++;
            if (index > 3) { index = 0; }
            $(".lb_img img").eq(index).fadeIn().stop(true).siblings().hide().stop(true);
            $(".lb_an li").eq(index).css({
                "background-color": "blue",
            }).siblings().css({
                "background-color": "lightgray",
            });
        }, 2000);
    });

    $(".lb_an li").hover(function () {
        clearInterval(play);
        index = $(this).index();
        $(".lb_img img").eq(index).fadeIn().stop(true).siblings().hide().stop(true);
        $(".lb_an li").eq(index).css({
            "background-color": "blue",
        }).siblings().css({
            "background-color": "lightgray",
        });
    }, function () {
        index = $(this).index();
        play = setInterval(function () { 
            index++;
            if (index > 3) { index = 0; }
            $(".lb_img img").eq(index).fadeIn().stop(true).siblings().hide().stop(true);
            $(".lb_an li").eq(index).css({
                "background-color": "blue",
            }).siblings().css({
                "background-color": "lightgray",
            });           
        }, 2000);
    });

    $(".lb_left").click(function () {
        $(".lb_img img").eq(index-1).fadeIn().siblings().hide();
        $(".lb_an li").eq(index-1).css({
            "background-color": "blue",
        }).siblings().css({
            "background-color": "white",
        });
    });
    $(".lb_right").click(function () {
        $(".lb_img img").eq(index + 1).fadeIn().siblings().hide();
        $(".lb_an li").eq(index + 1).css({
            "background-color": "blue",
        }).siblings().css({
            "background-color": "lightgray",
        });
    });
</script>